Behind the Scenes Sales Manager/~/Desktop/unpackaged/behindthescenes/flows/X1_Employee_Work_Anniversary_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter_0</name>
        <label>Post to Chatter</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Work_Anniversary_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!Work_Anniversary_Loop.Name}&apos;s completed {!Noofworkyears} year(s) in Salesforce. Send them a congrats! </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Work_Anniversary_Loop.ManagerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_0</name>
        <label>Send Slack Message</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Post_to_Chatter_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Work_Anniversary_Loop.Alias</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>team-events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <stringValue>{!Work_Anniversary_Loop.Name}&apos;s completed {!Noofworkyears} year(s) in Salesforce. Send them a congrats! </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03EEUPUSRG</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>WorkYears</name>
        <label>WorkYears</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>NoofYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Noofworkyears</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Message_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsAnnivToday</name>
        <label>IsAnnivToday</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Work_Anniversary_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AnnivToday_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkAnniversaryMMDD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayMMDD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Work_Anniversary_Loop.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WorkYears</targetReference>
            </connector>
            <label>AnnivToday=Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Noofworkyears</name>
        <dataType>Number</dataType>
        <expression>YEAR({!$Flow.CurrentDate}) - YEAR({!Work_Anniversary_Loop.Employee_Start_Date__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TodayMMDD</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Flow.CurrentDate}))+TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>WorkAnniversaryMMDD</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Work_Anniversary_Loop.Employee_Start_Date__c}))+TEXT(DAY({!Work_Anniversary_Loop.Employee_Start_Date__c}))</expression>
    </formulas>
    <interviewLabel>1. Employee Work Anniversary Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>1. Employee Work Anniversary Alert</label>
    <loops>
        <name>Work_Anniversary_Loop</name>
        <label>Work Anniversary Loop</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Work_Anniversary_Roster</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsAnnivToday</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Work_Anniversary_Roster</name>
        <label>Work Anniversary Roster</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Anniversary_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Work_Anniversary_Roster</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-12</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessageReceiver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Alias</elementReference>
        </value>
    </variables>
    <variables>
        <name>NoofYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
