Behind the Scenes Sales Manager/~/Desktop/unpackaged/behindthescenes/flows/X2_Employee_Birthday_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter_0</name>
        <label>Post to Chatter</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Send_Bday_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!Send_Bday_Message.Name}&apos;s birthday is today. Wish them a happy birthday! {!Send_Bday_Message.Alias}__NotFound}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Send_Bday_Message.ManagerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_0</name>
        <label>Send Slack Message</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Post_to_Chatter_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Send_Bday_Message.Alias</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>team-events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <stringValue>{!Send_Bday_Message.Name}&apos;s birthday is today. Wish them a happy birthday!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03EEUPUSRG</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>IsBirthdayToday</name>
        <label>IsBirthdayToday</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Send_Bday_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BirthdayToday_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BdayMMDD</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayMMDD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Send_Bday_Message.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_0</targetReference>
            </connector>
            <label>BirthdayToday=Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>BdayMMDD</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!Send_Bday_Message.Employee_Birthday__c}))+TEXT(DAY({!Send_Bday_Message.Employee_Birthday__c}))</expression>
    </formulas>
    <formulas>
        <name>TodayMMDD</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Flow.CurrentDate}))+TEXT(DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>2. Employee Birthday Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2. Employee Birthday Alert</label>
    <loops>
        <name>Send_Bday_Message</name>
        <label>Send Bday Message</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Birthday_Roster</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsBirthdayToday</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Birthday_Roster</name>
        <label>Birthday Roster</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Bday_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Birthday_Roster</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-05-12</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessageReceiver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Alias</elementReference>
        </value>
    </variables>
</Flow>
