Behind the Scenes Sales Manager/~/Desktop/unpackaged/behindthescenes/flows/X3_Opptys_Quota_Alert.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_Chatter_0_0_0_0_0_0</name>
        <label>Post to Chatter</label>
        <locationX>264</locationX>
        <locationY>1332</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Users_List</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>{!Users_List.Name} has a Target of {!Users_List.Employee_Target__c} and closed Opportunities with a value of {!TotalOpptyClosedvalue} this week. Send a congratulatory note and thank them for their hard work! </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Users_List.ManagerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_Message_0_0_0_0</name>
        <label>Send Slack Message</label>
        <locationX>264</locationX>
        <locationY>1212</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Post_to_Chatter_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>team-events</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <stringValue>{!Users_List.Name} has a Target of {!Users_List.Employee_Target__c} and closed Opportunities with a value of {!TotalOpptyClosedvalue} this week. Send a congratulatory note and thank them for their hard work! </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03EEUPUSRG</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Total_Closed_Oppty_Value_0</name>
        <label>Total Closed Oppty Value</label>
        <locationX>638</locationX>
        <locationY>756</locationY>
        <assignmentItems>
            <assignToReference>TotalOpptyClosedvalue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opptys_List.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opptys_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_manager</name>
        <label>Check manager</label>
        <locationX>396</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Users_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Users_List.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_0_0_0_0</targetReference>
            </connector>
            <label>Check for manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Target_Met</name>
        <label>Target Met</label>
        <locationX>550</locationX>
        <locationY>972</locationY>
        <defaultConnector>
            <targetReference>Users_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>Users_List.Employee_Target__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TotalOpptyClosedvalue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Last7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} -7</expression>
    </formulas>
    <interviewLabel>3. Opptys Quota Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>3. Opptys Quota Alert</label>
    <loops>
        <name>Opptys_List</name>
        <label>Opptys List</label>
        <locationX>550</locationX>
        <locationY>636</locationY>
        <collectionReference>Oppty_Roster_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_Closed_Oppty_Value_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Target_Met</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Users_List</name>
        <label>Users List</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Oppty_Roster_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Users_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Employee_Target__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Oppty_Roster_0</name>
        <label>Oppty Roster</label>
        <locationX>550</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opptys_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Users_List.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Last7Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>OwnerId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-05-13</startDate>
            <startTime>08:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MessageReceiver</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Alias</elementReference>
        </value>
    </variables>
    <variables>
        <name>TotalOpptyClosedvalue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
